RewriteEngine on

# Stop rewriting rules if we've got to a cache or unpack page
RewriteRule ^unpack.php - [L]
RewriteRule ^cache/ - [L]

# The root of a document's page is index.html
RewriteRule ^(([^/]+/){3})$ $1index.html [L]

# If the file exists in the cache, serve it up fro mthere
RewriteCond %{DOCUMENT_ROOT}/cache%{REQUEST_URI} -f
RewriteRule ^(.*)$ cache/$1 [L]

# Add trailing slash if it looks like a directory
# and it's missing a trailing slash
RewriteRule ^([^/]+(/[^/]+){0,2})$ http://%{HTTP_HOST}/$1/ [L,R=301]

# If the file isn't in the cache, generate an index or
# extact a javadoc archive
RewriteRule ^(.*)$ unpack.php?module_desc=$1 [L,QSA]
